<!DOCTYPE html>
<head>
		<title></title>
		<link href="https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed" rel="stylesheet">

		<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body>
<style>
</style>
<div id="container">
	<header>
			<h1><span>AIT</span>Y-THREE ISSA B</h1>
			<h3>An anonymous course review site.</h3>
	</header>
	<nav>
		<ul>
			<li><a href="/">All reviews</a></li>
			<li><a href="/reviews/mine">My reviews</a></li>
			<li><a href="/reviews/add">Add review!</a></li>
		</ul>
		<div class="about-session">Your session's total page visits: {{ count }} </div>
	</nav>

	<form action="/" method="get">
	<label for="semester">Semester:</label>
	<input type="text" id="semester" name="semester" placeholder="Enter semester">

	<label for="year">Year:</label>
	<input type="number" id="year" name="year" placeholder="Enter year">

	<label for="professor">Professor's Name:</label>
	<input type="text" id="professor" name="professor" placeholder="Enter professor's name">

	<button type="submit">Filter</button>
	</form>

	<div id="content">
		{{{ body }}}
	</div>
</div>
</body>
</html>
